.Rproj.user
.Rhistory
.RData
.Ruserdata
logo.png
README-dataset-1.png
README-example-1.png
README-example-10.png
README-example-11.png
README-example-12.png
README-example-2.png
README-example-3.png
README-example-4.png
README-example-5.png
README-example-6.png
README-example-7.png
README-example-8.png
README-example-9.png
